body {
    margin: 0 auto;
    width: 960px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

button {
    padding: 10px 10px;
}
.page-cont {
    width: 100%;
}

.game-cont {
    text-align: center;
    height: 40em;
    margin-top: 1rem;
    padding: 2rem 2rem;
    background-color: #efefef;
}