body {
    margin: 0 auto;
    width: 960px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

  .page-cont {
    text-align: center;
  }

  button {
    padding: 10px 10px;
  }

  .game-cont {
      width: 100%;
      height: 40em;
      margin-top: 1rem;
      background-color: #efefef;
  }