body {
    margin: 0 auto;
    width: 960px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

button {
    padding: 10px 10px;
}
.page-cont {
    width: 100%;
}

.game-cont {
    text-align: center;
    height: 40em;
    margin-top: 1rem;
    padding: 2rem 2rem;
    background-color: #efefef;
}

.answer-card-cont {
    display: flex;
    justify-content: space-between;
}

.answer-card {
    width: 8em;
    height: 11em;
    background-color: #9b9b9b;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}